@import url("https://fonts.googleapis.com/css2?family=Fredoka&family=Londrina+Outline&family=Londrina+Solid:wght@400&family=Nunito:wght@300;400;600;700&display=swap");

/* TODO: download font */
* { box-sizing: Border-box ;
margin:0;}
:root {
  --main-font: "Londrina Solid";
  --white: hsl(0, 0%, 100%);
  --yellow: hsl(44, 90%, 77%);
  --orange: hsl(36, 75%, 75%);
  --pink:hsl(340, 66%, 64%);
  --light-pink: hsl(330, 100%, 87%);
  --blue:hsl(204, 74%, 70%);
  --dark-blue:hsl(219, 49%, 62%);
  --transparent-blue:hsla(226, 6%, 57%, 0.5);
  --outline: hsl(279, 21%, 52%);
  --gray:hsl(226, 6%, 57%);
  --light-gray: hsl(219, 56%, 93%);
  --off-white:hsl(213, 61%, 90%);
}

html,
body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: var(--gray);
  overflow: hidden;
}

body {
  color: #333;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  /* padding: 8px; */
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

.full_grid {
  display: grid;
  grid-template-columns: repeat(10, 10vw);
  grid-template-rows: repeat(16, 6.25vh);
  width: 100vw;
  height: 100vh;
}

.centered {
  margin: auto;
  text-align: center;
  align-items: center;
  justify-items: center;
}
