@import url("https://fonts.googleapis.com/css2?family=Fredoka&family=Londrina+Outline&family=Londrina+Solid:wght@400&family=Nunito:wght@300;400;600;700&display=swap");

/* TODO: download font */
* { box-sizing: Border-box }
:root {
  --bg-color: hsl(0, 83%, 73%); /* var(--bg-color)  */
  --dropped-color: hsl(0, 60%, 25%);
  --main-color: #fce38a; /* var(--main-color)  */
  --sub-color: #f38181; /* var(--sub-color)  */
  --fg-color: #f4d042; /* #95e1d3; /* var(--fg-color)  */
  --blue: hsla(215, 55%, 21%, 1);
  --main-font: "Londrina Solid";
  --large: 10em;

  --yellow: #f4d042;
  --pink:#ff61aa;
  --blue:#00a4ff;
  --orange: #fc8c78;
  --dark-blue:#3D4856;
  --transparent-blue:hsla(215, 55%, 21%, 0.3);
}

html,
body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #333;
  overflow: hidden;
}

body {
  color: #333;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  /* padding: 8px; */
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}
